@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

header > img {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

main {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
}

main h1 {
    font-size: 8vw;
    text-align: center;
}

main h1.rosa {
    color: hotpink;
    margin-right: -10px;
}

main p {
    font-size: 5vw;
    margin-left: -131px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 110px;
}

main button {
    background-color: hotpink;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 160px 5px 160px;
}

main button#Not {
    background-color: rgb(173, 25, 25);
    top: 150%;
}

main button:hover {
    padding: 8px 180px 8px 180px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.493);
    transition: 0.3s;
}

main button > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 5vw;
    text-align: justify;
}
