@charset "UTF-8";

header > img {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        main {
            position: relative;
        } 

        article {
            height: 22vh;
            width: 73vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 200%);
            padding-right: 10px;
            padding-left: 10px;
        }

        h1 {
            text-align: center;
            color: hotpink;
            font-size: 2em;
        }


        button {
            background-color: hotpink;
            color: white;
            font-weight: bold;
            font-size: 18px;
            border: none;
            border-radius: 20%;
            width: 100px;
            height: 60px;
        }
        
        button#Not {
            background-color: deepskyblue;
            margin-left: 10vw;
        }
        
        button:hover {
          width: 120px;
          height: 70px;
          box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.432);
          transition: 0.5s;
        }
        
        a{ 
            text-decoration: none;
        }